@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}


/* TYPOGRAPHY */

.h1-bold {
  @apply text-[36px] font-bold leading-[140%] tracking-tighter;
}

.h1-semibold {
  @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
}

.h2-bold {
  @apply text-[30px] font-bold leading-[140%] tracking-tighter;
}

.h2-semibold {
  @apply text-[30px] font-semibold leading-[140%] tracking-tighter;
  color: #0F172A;
  letter-spacing: -0.75%;
}

.h3-bold {
  @apply text-[24px] font-bold leading-[140%] tracking-tighter;
}

.base-semibold {
  @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
}

.base-medium {
  @apply text-[16px] font-medium leading-[140%];
}

.base-regular {
  @apply text-[16px] font-normal leading-[140%];
}

.body-bold {
  @apply text-[15px] font-bold leading-[140%];
}

.body-medium {
  @apply text-[15px] font-medium leading-[140%];
}

.small-semibold {
  @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
}

.small-medium {
  @apply text-[14px] font-medium leading-[140%];
}

.small-regular {
  @apply text-[13px] font-normal leading-[140%];
}

.subtle-semibold {
  @apply text-[12px] font-semibold leading-[140%];
}

.tiny-medium {
  @apply text-[10px] font-medium leading-[140%];
}


/* UTILITIES */
.invert-white {
  @apply invert brightness-0 transition;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.common-container {
  @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
}


/* LEFT SIDEBAR MENU */
.leftsidebar {
  @apply hidden md:flex flex-col justify-between min-w-[220px] bg-gray-100;
  width: 220px;
  height: 97vh; 
  margin: 10px;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 0; 
  left: 0; 
}

.leftsidebar .menu-button {
  @apply flex items-center;
  transition: background-color 0.1s ease;
  padding: 15px 12px;
  border-radius: 7px;
}

.leftsidebar .menu-button:hover {
  background-color: #C8C8C8; 
}

.leftsidebar hr {
  margin: 16px 0;
  border-color: #A8A8A8; 
}

.menu-button-icon {
  @apply h-5 w-5 mr-4 ml-2;
}


/* TABLE STYLING */
.container {
  width: 90%;
  max-width: calc(100vw - 280px);
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  margin-bottom: 80px;
}

.header-container {
  margin-top: 60px;
  margin-bottom: 50px;
}

.header-form-container {
  margin-top: 60px;
}

.search-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.search-field {
  margin-right: 16px;
}

.plus-button {
  background-color: #0F172A !important;
  color: white !important;
  padding-left: 22px !important;
  padding-right: 25px !important;
}

.plus-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
}

.button-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.75rem;
}

.data-grid-container {
  flex: 1;
  width: 100%;
}

/* Search History */
.form-container {
  background-color: #F6F6F6;
  border: 1px solid #a8a8a8;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.form-input-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-input {
  flex: 1;
  margin-right: 10px;
}

.form-input label {
  display: block;
  margin-bottom: 5px;
}

.centered {
  display: flex;
  justify-content: center;
}

.search-button {
  padding: 10px 20px;
  background-color: #0f172a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000 !important;
}

.inverse-button {
  padding: 10px 20px;
  background-color: white;
  color: #0f172a;
  border: 1px, rgb(153, 153, 153);
  border-radius: 5px;
  cursor: pointer;
}

.inverse-button:hover {
  background-color: rgb(224, 224, 224) !important;
}


/* Form input styling */
.input-style {
  margin-bottom: 1rem !important;
}

.input-style input[type="text"]::placeholder,
.input-style input[type="email"]::placeholder,
.input-style input[type="password"]::placeholder {
  font-size: .875rem !important; 
  color: #929292 !important; 
}

.input-style input[type="text"],
.input-style input[type="email"],
.input-style input[type="password"] {
  width: 330px !important;
  padding: 0.75rem !important; 
  border: 1px solid #d1d5db !important; 
  border-radius: 0.375rem !important; 
  font-size: .875rem !important;
  outline: none !important;
  color: #242424 !important; 
  transition: border-color 0.3s ease !important;
  background-color: white !important;
}

.input-style input[type="text"]:focus,
.input-style input[type="email"]:focus,
.input-style input[type="password"]:focus {
  border-color: #b8b8b8 !important; 
  box-shadow: 0 0 0 2px rgba(184, 184, 184, 0.2) !important; 
}


/* Select styling */
.button-style {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small-button-style:hover,
.button-style:hover {
  background-color: #ffffff !important;
}

.small-button-style {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  max-width: 180px;
  min-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.command-item-style:hover {
  background-color: #f3f3f3;
}

.popover-content-style {
  padding: 0rem;
  background-color: white;
  border-radius: 0.375rem;
}

.command-input-style {
  width: 100%;
  border-radius: 4px;
}

.command-empty-style {
  color: #888;
  font-size: 0.875rem;
  padding: 10px;
}

.command-item-style {
  padding: 0.5rem;
  cursor: pointer;
}


/* Calendar Select Styling */
.button-style-cal {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  max-width: 200px;
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-style-cal:hover {
  background-color: #ffffff !important;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;;
  margin: 0;
}

.form-input {
  max-width: 500px;
  margin: 0;
}

.separator {
  margin: 0 1rem; 
  margin-top: 1rem;
}

.cal-style {
  background-color: white;
  border-radius: 0.375rem;
}


/* Dialog Styling */
.custom-dialog {
  background-color: white !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
}

.custom-dialog-content {
  padding: 30px !important;
  background-color: white !important;
  border-radius: 8px !important;
}

.custom-dialog-header {
  padding-bottom: 10px !important;
  border-bottom: 1px solid #ccc !important;
  position: relative; 
}

.close-button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -31px; 
  right: -26px;
  width: 40px;
  height: 40px;
  padding: 10px;
  z-index: 9999;
  box-shadow: none; 
}

.custom-dialog-title {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.custom-dialog-description {
  color: #666 !important;
  margin-top: 10px !important;
}

.custom-dialog-footer {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 20px !important;
}

.custom-create-button {
  background-color: #141414 !important;
  color: white !important;
  border: none !important;
  padding: 8px 16px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.custom-create-button:hover {
  background-color: #141414 !important;
}

.input-style-modal {
  margin-bottom: 0.875rem !important;
}

.input-style-modal input[type="text"]::placeholder {
  font-size: .875rem !important; 
  color: #929292 !important; 
}

.input-style-modal input[type="text"] {
  padding: 0.75rem !important; 
  border: 1px solid #d1d5db !important; 
  border-radius: 0.375rem !important; 
  font-size: .875rem !important;
  outline: none !important;
  color: #242424 !important; 
  transition: border-color 0.3s ease !important;
  background-color: white !important;
}

.input-style-modal input[type="text"]:focus {
  border-color: #b8b8b8 !important; 
  box-shadow: 0 0 0 2px rgba(184, 184, 184, 0.2) !important; 
}

.textarea-style {
  margin-bottom: .875rem !important;
}

.textarea-style ::placeholder {
  font-size: .875rem !important; 
  color: #929292 !important; 
}

.textarea-style {
  border: 1px solid #d1d5db !important; 
  border-radius: 0.375rem !important; 
  font-size: .875rem !important;
  outline: none !important;
  color: #242424 !important; 
  transition: border-color 0.3s ease !important;
  background-color: white !important;
}

.textarea-style:focus {
  border-color: #b8b8b8 !important; 
  box-shadow: 0 0 0 2px rgba(184, 184, 184, 0.2) !important; 
}

/* Authentication */
.authenticate-button {
  padding: 10px 20px;
  background-color: #335CBE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authenticate-button:hover {
  background-color: #335CBE !important;
}

.text-small-regular {
  font-size: 0.875rem; 
  font-weight: normal;
}

.text-light-2 {
  color: #929292; 
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 0.5rem; 
}

.text-primary-500 {
  color: #144BCE; 
}

.text-small-semibold {
  font-size: 0.875rem; 
  font-weight: 600; 
}

.ml-1 {
  margin-left: 0.25rem;
}


/* Box Details */ 
.grey-button {
  padding: 10px 20px;
  background-color: #959595;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grey-button:hover {
  background-color: #858585 !important;
}

.purple-button {
  padding: 10px 20px;
  background-color: #A472E3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purple-button:hover {
  background-color: #9362cf !important;
}

.li-blue-button {
  padding: 10px 20px;
  background-color: #7EC3D2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.li-blue-button:hover {
  background-color: #71b6c5 !important;
}

.blue-button {
  padding: 10px 20px;
  background-color: #335CBE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #274792 !important;
}

.warning-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color:#DC2D2D;
  border: 1px solid #DC2D2D;
  border-radius: 5px;
  cursor: pointer;
}

.warning-button:hover {
  background-color: #dc2d2d17 !important;
}

.danger-button {
  padding: 10px 20px;
  background-color: #dc2d2d17;
  color:#DC2D2D;
  border: 1px solid #DC2D2D;
  border-radius: 5px;
  cursor: pointer;
}

.danger-button:hover {
  background-color: rgba(194, 37, 37, 0.164) !important;
}

.complete-button {
  padding: 10px 20px;
  background-color: #2eb93517;
  color:#1B9A35;
  border: 1px solid #1B9A35;
  border-radius: 5px;
  cursor: pointer;
}

.complete-button:hover {
  background-color: #2eb9352d !important;
}

.information-label {
  display: block;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: #4B5563; /* text-gray-700 */
  margin-bottom: 0.25rem; /* 4px */
}

.information-value {
  display: block;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  color: #6B7280; /* text-gray-500 */
  margin-bottom: 0.25rem; /* 4px */
}

/* Alert Dialog */
.custom-alert-dialog {
  background-color: #ffffff;
  border-radius: 0.875rem !important;
  padding: 30px;
}

.toaster-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  padding: 16px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}