@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");


body {
  font-family: 'Inter', sans-serif;
}

/* Left Menu */
.left-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 10px;
  padding: 20px; 
}

.logo {
  display: block;
  margin: 0 auto;
  width: 180px; 
  height: auto;
}