/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/PageWrapper/page-wrapper.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page-wrapper_page-wrapper__G9jAU {
  width: 100%;
  height: auto;
  padding: 50px 20px 0 20px;
}
.page-wrapper_page-wrapper__G9jAU .page-wrapper_title__LxGC3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.page-wrapper_page-wrapper__G9jAU .page-wrapper_children__1zQxV {
  width: 100%;
  height: auto;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/(dashboard)/home.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_tools-bar__DPzMW {
  width: 100%;
  height: auto;
  margin: 35px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_dialog-content__Lt_Dl {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home_dialog-content__Lt_Dl .home_divider__aUIta {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  border: none;
  margin: 10px auto;
}
.home_dialog-content__Lt_Dl .home_subtitle__XnuH4 {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #535353;
  font-weight: 500;
  text-align: left;
}
.home_dialog-content__Lt_Dl .home_line__5LwMo {
  width: 100%;
  height: auto;
  margin: 15px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.home_dialog-content__Lt_Dl .home_line__5LwMo .home_item__mB3Td {
  width: 100%;
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
.home_dialog-content__Lt_Dl .home_line__5LwMo .home_item__mB3Td .home_label__RwX4I {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
.home_dialog-content__Lt_Dl .home_line__5LwMo .home_item__mB3Td .home_input__z9vce, .home_dialog-content__Lt_Dl .home_line__5LwMo .home_item__mB3Td .home_textarea__646Ze {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #aeaeae;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
}
.home_dialog-content__Lt_Dl .home_line__5LwMo .home_item__mB3Td .home_textarea__646Ze {
  padding: 10px;
  height: 80px;
  resize: none;
  font-size: 13px;
}
