/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/(auth)/auth.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.auth_form__nFdy_ {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth_title__s_Q1N {
  width: 100%;
  height: auto;
  font-size: 36px;
  color: #535353;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.auth_form-container__A_ols {
  width: 60%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.auth_form-container__A_ols .auth_input__raMlh, .auth_form-container__A_ols .auth_button__VvHu4 {
  width: 100%;
  height: auto;
  padding: 5px 0;
  margin: 5px 0;
}
.auth_form-container__A_ols .auth_divider__81BAo {
  width: 100%;
  height: 1px;
  background-color: #909090;
  border: none;
  margin: 10px auto;
}
